
.board{
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	width: 16rem;
	
}



.square, .inactive{
	
	height: 5rem;
	width: 5rem;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	
}



.blue{
	
	background-color: blue;
}

.red{
	
	background-color: red;
}

.button{
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	width: 6rem;
	height: auto;
	text-align: center;
	border-radius: 5rem;
	border-style: solid;
}


.switch, .one, .two{
	
	display: inline-block;
	
}

.switch{
	height: 3rem;
	width: 8rem;
	
	
	
}

.left{
	
	background-image: url("switch1.png");
	background-repeat: no-repeat;
}

.right{
	
	background-image: url("switch2.png");
	background-repeat: no-repeat;
}